body{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid var(--border);
}

.LoginCard{
    width: min(600px,90%);
    background-color:var(--bg-card) ;
    padding: 40px;
    display: flex;
    justify-content: center;
    border-radius: var(--radius);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8px;
}
.heading{
    text-align: center;
}
#username{
    padding: 14px;
    border-radius: 12px;
    background: var(--bg-main);
    color: var(--white);
    border: 1px solid var(--border);
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
     border-radius: 12px;
    background: var(--bg-main);
    color: var(--white);
    border: 1px solid var(--border);
    
}
.box>img{
    align-self: flex-end;
    width: 10%;
}

#password{
    width: 100%;
    background-color: inherit;
    color:inherit;
    padding: 12px;
}
input:focus{
     border-color:var(--primary); 
}

#Error{
    color:#ef4444;
    min-height:20px;
}
a{
    margin: 10px;
    color: var(--accent);
}
#LoginBtn{
    color: var(--white);
    font-weight: 600;
    padding: 6px 25px ;
    border-radius: 8px;
    background-color: var(--primary);
    transition: var(--transition);
}
.LoginBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

#LoginBtn:hover{
 transform: scale(1.2) translateY(-2px);;
 
}
#LoginBtn:active{
    transform: translateY(2px);
}
.passwordBox{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: small;
}